{
    "presets": ["env", "stage-3"],
    "plugins": [
        ["babel-plugin-root-import", {
            "rootPathPrefix": "@",
            "rootPathSuffix": "js"
        }]
    ],
    "env": {
        "production": {
            "plugins": [
                ["babel-plugin-root-import", {
                    "rootPathPrefix": "@",
                    "rootPathSuffix": "js"
                }]
            ]
        }
    }
}